<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated IFC4 -->
      <package
            uri="http://www.bitub.de/IFC4"
            class="org.buildingsmart.ifc4.Ifc4Package"
            genModel="model/ifc4_add1.exp.xcore"/>
   </extension>

</plugin>
